{% extends './admin/base.html.twig' %}
{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

{% set statut= ['En attente du paiement','En attente de la livraison','En cour de livraison','Livré','Problème lors de la livraison'] %}
{% set statutPaiement = ['En attente du paiement','Payé'] %}
{% block body %}


    <div class="d-flex flex-column " {{ stimulus_controller('section') }}>

        <div class="d-flex flex-row gap-3 mb-5 pb-5 border-bottom ">
            {% if currentPath == '/admin/order/' and order is not defined %}

            <button class="btn-category" {{ stimulus_action('section','section1','click') }}>En attente de
                livraison
            </button>
            <button class="btn-category" {{ stimulus_action('section','section2','click') }}>En livraison
            </button>
            <button class="btn-category" {{ stimulus_action('section','section3','click') }}>Terminé</button>
         {% endif %}
            {% if order is defined %}
            <button class="btn-category"><a href="{{ path('app_order_admin') }}">Retour</a></button>
            <button class="btn-category"><a href="{{ path('not_send_order_admin',{'id':order.id}) }}">Non envoyer</a></button>
            <button class="btn-category"><a href="{{ path('send_order_admin',{'id':order.id}) }}">Envoyer la commande</a></button>
            <button class="btn-category"><a href="{{ path('delivry_order_admin',{'id':order.id}) }}">Livrer</a></button>
            <button class="btn-category"><a href="{{ path('issus_order_admin',{'id':order.id}) }}">Probleme</a></button>
                {% endif %}

        </div>
        {% if currentPath == '/admin/order/' and order is not defined %}

            {# COMMAND TO DELIVRY #}
            <div class="  flex-column" {{ stimulus_target('section','section1') }}>
                <h4> Vos commandes à livrer</h4>
                {% for order in orderToDelivry %}
                    <a href="{{ path('show_order_admin',{'id':order.id}) }}"
                       class="d-flex flex-row border border-dark p-3 rounded-3 justify-content-between">
                        <div class="w-50 d-flex flex-column align-items-start">
                            <span>Date de la commande : {{ order.createdAt|date('d-m-Y') }}</span>
                            <span>Statut :  {{ statut[order.status] }}</span>
                            <span>Status du paiement : {{ statutPaiement[order.payStatus] }}</span>
                            <span>Adresse de facturation {{ order.billingAddresse.entireName }}  {{ order.billingAddresse.entireIdentity }}</span>
                            <span>Adresse de livraison : {{ order.adresse.entireName }}  {{ order.adresse.entireIdentity }}</span>
                              <span>Commande Ref : {{ order.number }}</span>
                        </div>
                        <div class="w-25 d-flex flex-column align-items-start">

                            <span> Nombre de produit : {{ order.items|length }}</span>
                            <span>Total : {{ order.total }}€</span>

                        </div>

                    </a>


                {% endfor %}
            </div>


            {# COMMAND FINISHED #}
            <div class="  flex-column" {{ stimulus_target('section','section3') }}>
                <h4> Commandes déjà livréees</h4>
                {% for order in orderFinished %}
                    <a href="{{ path('show_order_admin',{'id':order.id}) }}"
                       class="d-flex flex-row border border-dark p-3 rounded-3 justify-content-between">
                        <div class="w-50 d-flex flex-column align-items-start">
                            <span>Date de la commande : {{ order.createdAt|date('d-m-Y') }}</span>
                            <span>Statut :  {{ statut[order.status] }}</span>
                            <span>Status du paiement : {{ statutPaiement[order.payStatus] }}</span>
                            <span>Adresse de facturation {{ order.billingAddresse.entireName }}  {{ order.billingAddresse.entireIdentity }}</span>
                            <span>Adresse de livraison : {{ order.adresse.entireName }}  {{ order.adresse.entireIdentity }}</span>    <span>Commande Ref : {{ order.number }}</span>

                        </div>
                        <div class="w-25 d-flex flex-column align-items-start">

                            <span> Nombre de produit : {{ order.items|length }}</span>
                            <span>Total : {{ order.total }}€</span>

                        </div>

                    </a>


                {% endfor %}
            </div>

            {# COMMAND IN DELIVRANCE #}
            <div class=" flex-column" {{ stimulus_target('section','section2') }}>
                <h4> Commandes en cour de livraison</h4>
                {% for order in ordermInDelivrance %}
                    <a href="{{ path('show_order_admin',{'id':order.id}) }}"
                       class="d-flex flex-row border border-dark p-3 rounded-3 justify-content-between">
                        <div class="w-50 d-flex flex-column align-items-start">
                            <span>Date de la commande : {{ order.createdAt|date('d-m-Y') }}</span>
                            <span>Statut :  {{ statut[order.status] }}</span>
                            <span>Status du paiement : {{ statutPaiement[order.payStatus] }}</span>
                            <span>Adresse de facturation {{ order.billingAddresse.entireName }}  {{ order.billingAddresse.entireIdentity }}</span>
                            <span>Adresse de livraison : {{ order.adresse.entireName }}  {{ order.adresse.entireIdentity }}</span>   <span>Commande Ref : {{ order.number }}</span>

                        </div>
                        <div class="w-25 d-flex flex-column align-items-start">

                            <span> Nombre de produit : {{ order.items|length }}</span>
                            <span>Total : {{ order.total }}€</span>

                        </div>

                    </a>


                {% endfor %}
            </div>
        {% endif %}
        {% if order is defined %}

            <div class="d-flex flex-column w-100">
                <div class="d-flex flex-column border border-dark p-3 rounded-3 ">

                    <span>Date de la commande : {{ order.createdAt|date('d-m-Y') }}</span>
                    <span>Statut :  {{ statut[order.status] }}</span>
                    <span>Status du paiement : {{ statutPaiement[order.payStatus] }}</span>
                    <span>Client : {{ order.author.entireIdentity}} </span>
                    <span>Adresse de facturation {{ order.billingAddresse.entireName }}  {{ order.billingAddresse.entireIdentity }}</span>
                    <span>Adresse de livraison : {{ order.adresse.entireName }}  {{ order.adresse.entireIdentity }}</span>
                    <span>Commande Ref : {{ order.number }}</span>
                    <span> Nombre de produit : {{ order.items|length }}</span>
                    <span>Total : {{ order.total }}€</span>


                </div>
                <div class="card w-100 cart p-3">

                    {% for item in order.items %}
                        <div class="products">
                            <div class="product">
                                {% if item.product.images[0] is defined %}

                                    <img src="{{ vich_uploader_asset(item.product.images[0])|imagine_filter('product_index') }}"
                                         class="card-img-top w-25" alt="...">
                                {% else %}
                                    <img src="{{ asset('images/defaultImageClothe.png')|imagine_filter('product_index') }}"
                                         class="card-img-top w-25" alt="...">
                                {% endif %}
                                <div class="w-50 p-3">

                                    <label class="title">{{ item.product.name }}</label>
                                    <p>{{ item.product.description }}</p>

                                </div>
                                <div class="w-25 d-flex flex-column align-items-end">

                                    <label class="price small">{{ item.product.price }}€</label>
                                    <div class="quantity ">

                                        <span>Quantité : {{ item.quantity }}</span>

                                    </div>

                                    <span class="fs-6">Ref : {% for variant in item.productVariants %} {{ variant.number }}, {% endfor %}</span>

                                </div>

                            </div>
                        </div>

                    {% endfor %}
                </div>

            </div>
        {% endif %}

    </div>

{% endblock %}
