{% extends './client/base.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
{% block title %}Votre profil{% endblock %}

{% block body %}

    <div class="d-flex flex-row justify-content-between">
        <div class="dash-bg  w-25 ">
            {% include './component/navbarProfil.html.twig' %}
        </div>
        <div class="w-75 p-5 d-flex flex-column">

            {% if currentPath == '/profile/payement' %}
                <h4> Vos modes de payement - <a href="{{ path('profile_payement_new') }}">Ajouter un moyen de
                        payement</a></h4>

                {% if app.user.payMethodes is not empty %}

                    <div class="d-flex flex-row flex-wrap">


                        {% for methode in app.user.payMethodes %}
                            <a href="{{ path('profile_payement_edit',{'id':methode.id}) }}" class="creditCardPRofil m-2 border d-flex flex-column justify-content-around align-items-center border-warning border-2 rounded py-0 px-3">
                                <div class="d-flex flex-row justify-content-between w-100">
                                 <span class="creditCardName">
                                      {{ app.user.firstName }}
                                 </span>
                                    <span class="creditCardName">{{ app.user.lastNAme }}</span>
                                </div>
                                <div>
                                    {{ methode.cardNumber }}
                                </div>
                                <div>

                                </div>

                            </a>

                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

            {% if currentPath != '/profile/payement' %}
                <h4>Ajouter une carte</h4>

                <fieldset>

                    {{ form_start(form ) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.cardNumber) }}

                    <button type="submit" class="btn btn-primary">{{ methode is not defined ? 'Ajouter': 'Modifier' }} </button>
                    {{ form_end(form) }}
                </fieldset>
            {% endif %}
        </div>

    </div>



{% endblock %}
