{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sirius!{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/icon.webp') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <link rel="stylesheet" href="{{ asset('/styles/app.css') }}">
        <link rel="stylesheet" href="{{ asset('/styles/client/index.css') }}">
        <link rel="stylesheet" href="{{ asset('/styles/client/cards.css') }}">
        <link rel="stylesheet" href="{{ asset('/styles/client/product.css') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('entryName') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body  >{% if not (currentPath starts with '/order') %}
    {% include 'component/navbar.html.twig' %}
{% endif %}



    {% block body %}{% endblock %}

</body>
</html>
