<ul class="nav">

    {% if app.user %}
        {% if "ROLE_ADMIN" in app.user.roles %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_category') }}">Categories</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_product_admin') }}">Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_user') }}">utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_statistique') }}">statistiques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_statistique') }}">Paiement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_statistique') }}">Livraison</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_home') }}">Retour au site</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>

        {% endif %}
    {% endif %}
</ul>