
<a
      {% if route_name!= '' %}
        href="{{ path(route_name,param) }}"
        {% endif %}
        class="{{ aClass }}">
        <div class="">
            <img class="{{ imgClass }}" src="{{ vich_uploader_asset(image) | imagine_filter(filter)}}" alt="{{ image.imageName }}">

        </div>
</a>


{#


TO CALL IT USE :

{% for image in bloop.images %}
    {% include 'image.html.twig' with  {
        'route_name':'delete_image',
        'imgClass':'imageAdded',
        'image':image,
        'param':{'id':image.id},
        'filter': '',
        'aClass':''} %}
{% endfor %}

}#}
