<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('about_us') }}">A propos</a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_product') }}">Produits</a>
    </li>


    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_profil') }}">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_cart') }}">Panier</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">s'enregistrer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">se connecter</a>
        </li>
    {% endif %}


    {% if app.user %}
        {% if "ROLE_ADMIN" in app.user.roles %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_statistique') }}">ADMIN</a>
            </li>
            {% endif %}
    {% endif %}
</ul>