{% extends './admin/base.html.twig' %}
{% block title %}Ajoutez une image{% endblock %}


{% block body %}
    <div class="d-flex flex-row justify-content-between  border-bottom pb-3 pt-5 mb-3 align-items-start">
        <h4 class="black-title">Images de l'article</h4>
        <a class="btn-category" href="{{ path('app_product_admin') }}">Voir les produits</a>

    </div>
    <div class="example-wrapper my-5">
        {{ form_start(formImage,{'action': path('images_product',{'id':prod.id}) } ) }}
        {{ form_row(formImage.imageFile,{'attr':{'data-controller':'mydropzone'}}) }}
        <button type="submit" class="btn-category">Ajouter l'image</button>
          {{ form_end(formImage) }}
    </div>
    <div class="d-flex flex-wrap flex-row gap-3">
        {% for image in prod.images %}

            <div class="d-flex flex-column align-items-cente r">
            {% include '/component/imageFilter.html.twig' with  {
                'route_name':'',
                'imgClass':'imageAdded',
                'filter':'product_index' ,
                'image':image,
                'param':null,
                'aClass':''} %}

            <a class="btn-category" href="{{ path('delete_image',{'id':image.id}) }}">Supprimer</a>
        </div>

        {% endfor %}
    </div>


{% endblock %}
