<div class=" containerMade">
    <nav class="preparatorNav border-dark  pb-4  border-bottom d-flex flex-row justify-content-between">
        <ul class="gap-5 m-0  d-flex flex-row justify-content-between">
            <li>
                <a class="fs-32 {{ currentPath == '/admin/order/' ?'active' }} " href="{{ path('app_preparator_order') }}" >A livrer</a>
            </li>
            <li>
                <a class="fs-32 {{ currentPath == '/admin/order/delivry' ?'active' }} " href="{{ path('app_order_delivry') }}">En livraison</a>
            </li>
            <li>
                <a class="fs-32 {{ currentPath == '/admin/order/finish' ?'active' }} " href="{{ path('app_order_finished') }}">Livré</a>
            </li>
        </ul>
        <ul class="m-0">
            <li>
                <a class="fs-32" href="#">Total : 2/12</a>
            </li>
        </ul>
    </nav>
</div>
